*{
    box-sizing: border-box;
}

.rowHomero{ 
background-color: green;

}


.h3{
    text-align: center;
    
}

.maarge{
    background-color: blue;
}

.textomarge{

    font-size: 200px;
}
.Maggie{

    background-color: darkblue;
}

.Lisa{

    background-color: darkred;
}